/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding-bottom: 60px; /* Added padding for dynamic footer */
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Section Styles */
section#products {
    margin: 20px;
    text-align: center; /* Center-align the products */
}

.product-list {
    list-style-type: none;
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center-align products horizontally */
    align-items: flex-start; /* Align items to the top */
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    gap: 10px; /* Adjust the gap between products */
}

.product {
    width: calc(33.33% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: 150px; /* Set a fixed height for the product images */
    object-fit: contain; /* Maintain aspect ratio and fit image within container */
    border: 1px solid #ddd;
    padding: 10px;
}

.product p {
    font-size: 18px;
    margin-top: 10px;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed; /* Position the footer at the bottom of the viewport */
    bottom: 0;
    width: 100%;
    height: 50px; /* Set a fixed height for the footer */
}
